{{ dump(error_message) }}

<form method="post" action="/check_login">
    <input type="text" name="username" />
    <br/>
    <input type="password" name="password" />
    <input type="checkbox" name="rememberMe" checked>
    <button type="submit">Login</button>
</form>